/* You can add global styles to this file, and also import other style files */
html, body {
  height: 100%;
  font-family: 'Avenir', Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  color: #2c3e50;
  overflow: hidden;
}
.content {
  height: 100%;
  justify-content: space-between;
  display: flex;
  flex-direction: column;
}
footer {
  display: block;
  text-align: center;
  margin: 30px 20px;
}
.copyright {
  color: #028090;
}
.copyright:hover { color: #05668D; text-decoration: none;}
